<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <title>商品详情</title>
    <link type="text/css" rel="stylesheet" href="/public/css/skin.css" />
    <link type="text/css" rel="stylesheet" href="/public/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/public/css/f-awesome/font-awesome.min.css" />
</head>
<body>
<div class="find_nav">
    <div class="header">
        <div class="return"><a href="/"><img src="/public/images/skin/return.png"></a></div>
        <div class="title">商品详情</div>
    </div>
</div>
<div class="bodies_details">
    <img src="{{$productInfo.p_img}}">
    <h2>￥{{$productInfo.p_price}}</h2>
    <div class="bd_test">
        <p>{{$productInfo.p_title}}</p>
        <a href="javascript:void(0);" class="buyProduct" pid="{{$productInfo.p_id}}">捐赠</a>
    </div>
    <div class="pe-spacer size20"></div>
</div>
<script type="text/javascript" src="/public/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var appId      = '{{$signPackage.appId}}';var timestamp = '{{$signPackage.timestamp}}';
    var nonceStr   = '{{$signPackage.nonceStr}}';var signature = '{{$signPackage.signature}}';
    var title      = "{{$shareConfig.s_title}}";
    var main_title = "{{$shareConfig.s_content}}";
    var imgurl = "{{$shareConfig.s_img}}";
    var url = "{{$smarty.const.APP_DOMAIN}}/pay/order/event/product/id/{{$productInfo.p_id}}";
</script>
<script>
wx.config({
        appId: appId,
        timestamp:timestamp,
        nonceStr: nonceStr,
        signature: signature,
        jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ'
        ]
    });

    wx.ready(function () {
        wx.onMenuShareTimeline({
            title: main_title,
            desc:  title,
            link:  url,
            imgUrl: imgurl,
            trigger: function (res) {
            },
            success: function (res) {
                getShareBack();
            },
            cancel: function (res) {
            },
            fail: function (res) {
            }
        });

        wx.onMenuShareAppMessage({
            title: main_title,
            desc:  title,
            link: url,
            imgUrl: imgurl,
            trigger: function (res) {
            },
            success: function (res) {
                getShareBack();
            },
            cancel: function (res) {
            },
            fail: function (res) {
            }
        });

        wx.onMenuShareQQ({
            title: main_title,
            desc:  title,
            link:  url ,
            imgUrl: imgurl,
            trigger: function (res) {
            },
            success: function (res) {
                getShareBack();
            },
            cancel: function (res) {
            },
            fail: function (res) {
            }
        });
    });

    //分享回调数据
    function getShareBack(){
    }

    $('.buyProduct').click(function(){
        var rel = $(this).attr('rel');
        var pid = $(this).attr('pid');
        var cid = '{{$productInfo.c_id}}';
        $.post('/ajax/pay/charity', {type : 2, cid : cid,pid : pid}, function(data){
            if(data.status == 'y'){
                var jsApiParameters = data.info.param;
                var orderNo = data.info.orderNo;
                Pay(jsApiParameters);
            }else{
                alert(data.info);
            }
        }, 'json')
    })

    function Pay(Parameters){
        WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {
                    "appId":Parameters.appId, //公众号名称，由商户传入
                    "timeStamp":Parameters.timeStamp, //时间戳，自 1970 年以来的秒数
                    "nonceStr":Parameters.nonceStr, //随机串
                    "package":Parameters.package,
                    "signType": "MD5", //微信签名方式：
                    "paySign":Parameters.paySign //微信签名
                },
                function(res){
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                        alert('捐款成功');
                    }

                });
    }
</script>
</body>

</html>