@charset "utf-8";
html                          { font-size:62.5%;}
body                          { margin:0px; padding:0px; font-family:"微软雅黑"; background:#f4f4f4;}
a                             { text-decoration:none; color:#333; outline:none; cursor:pointer; bblr:expression(this.onFocus=this.blur());}
*                             { padding:0px; margin:0px;}
ul, li                        { padding:0px; margin:0px; list-style:none;}
img                           { border:none;}
.clear                        { clear:both;}

.clear10                      { height:10px; clear:both;}
.nav                          { width:100%; height:90px; background:#191919; font-family:"微软雅黑";}
.logo                         { float:left; width:190px; height:90px; background:url(../images/logo.png) no-repeat;}
.nav .xiaoqu                  { float:left; margin-left:18px; font-size:16px; color:#fff; line-height:90px;}
.nav .xiaoqu span             { color:#23d2ac;}
.nav #yonghu                  { margin-top:28px; margin-right:35px;}
.nav #yonghu button           { background:0; border:0; color:#fff;}

.login_con                    { margin:0 auto; width:430px; font-family:"微软雅黑";}
.login_logo                   { margin:0 auto; margin-top:14%; margin-bottom:34px; width:246px; height:48px; }
.login_con .input-group       { margin-bottom:10px;}
.login_con p                  { font-size:12px; color:#fff; text-align:center; line-height:50px;}
.login_con .btn-primary       { background:#23d2ac; border:#23d2ac;}

.main                         { font-family:"微软雅黑"; background:#282828;}
#left                         { float:left; width:190px; background:#282828;}
#right                        { float:left; background:#FFF; border:#23d2ac 5px solid;}
.right_con                    { margin:0 auto; width:97%;}
.right_con .table             { margin-bottom:0px;}
.right_con nav .pagination    { margin:10px 0;}

#km_ment                      { float:right; margin-top:38px;}
#km_ment button               { margin-bottom:13px; width:163px; height:49px; background:#191919; border:1px solid #2e2e2e; color:#ffffff; border-radius:99px 0px 0px 99px; outline:none; cursor:pointer; text-align:left;}
#km_ment button:hover         { background:#23d2ac; border:1px solid #23d2ac;}
#km_ment button .glyphicon    { margin-left:25px; margin-right:10px;}

.bottom                       { width:100%; height:50px; background:#282828; text-align:center; color:#FFF; line-height:50px; font-family:"微软雅黑"; font-size:12px;}
.bottom a                     { font-family:"微软雅黑";}

#left .dropdown-menu          { top:0; left:168px;}
.right_con .btn  { margin-left: 10px;}
.form-city { float: left; margin-right: 5px; width: 30%;}
.Validform_error              { border: 1px #ad3434 solid;}
span.Validform_error          { line-height: 34px; color: #ad3434;border: 0;}
.Validform_success            { border: 1px #23d2ac solid;}
span.Validform_success        { line-height: 34px; color: #23d2ac;border: 0;}

#map {width:650px; height: 480px; }
/* popup */
.aui_outer { text-align:left; }
table.aui_border, table.aui_dialog { margin:0; width:auto; border:0; border-collapse:collapse; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_c, .aui_e, .aui_sw, .aui_s, .aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer { padding:0; }
.aui_header, .aui_buttons button { font: 14px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family:Tahoma, Arial, Helvetica, STHeiti; -o-font-family: Tahoma, Arial; }
.aui_title { overflow:hidden; text-overflow: ellipsis; }
.aui_state_noTitle .aui_title { display:none; }
.aui_close { position:absolute; display:block; outline:none; text-decoration:none; _cursor:pointer; }
.aui_close:hover { text-decoration:none; }
.aui_main { min-width:9em; min-width:0\9/*IE8 BUG*/; text-align:left; }
.aui_content { display:inline-block; border:none 0;
text-align:left; *zoom:1;
*display:inline; }
.aui_content.aui_state_full { display:block; margin:0; padding:0!important; width:100%; height:100%; }
.aui_loading { overflow:hidden; width:96px; height:32px; background:url(/public/images/skins/icons/loading.gif) no-repeat center center; text-align:left; text-indent:-999em; }
.aui_icon { vertical-align: middle; }
.aui_icon div { margin:10px 0 10px 10px; width:48px; height:48px; background-position: center center; background-repeat:no-repeat; }
.aui_buttons { padding:8px; text-align:right; white-space:nowrap; }
.aui_buttons button { display: inline-block; overflow:visible; margin-left:15px; padding: 6px 8px; width:auto; border: solid 1px #999; border-radius: 5px; background: #DDD;
background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); box-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 -1px 0 rgba(0, 0, 0, .09);
color: #333; text-align: center; text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
letter-spacing:2px; font-family: Tahoma, Arial/9!important; line-height: 1; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); cursor: pointer;
-webkit-transition: -webkit-box-shadow linear .2s; -moz-transition:-moz-box-shadow linear .2s;
transition: box-shadow linear .2s; *padding:4px 10px;
*height:2em; *width:1;
}
.aui_buttons button::-moz-focus-inner {margin:0;padding:0;border:0;}
.aui_buttons button:focus { outline:none 0; border-color:#426DC9; box-shadow:0 0 8px rgba(66, 109, 201, .9); }
.aui_buttons button:hover { border-color:#666; color:#000; }
.aui_buttons button:active { border-color:#666;
background: linear-gradient(top, #DDD, #FFF); background: -moz-linear-gradient(top, #DDD, #FFF); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#FFF)); box-shadow:inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF'); }
.aui_buttons button[disabled] { border: solid 1px #999; background:#DDD; box-shadow:none; color:#666; opacity:.5; filter:alpha(opacity=50); cursor:default; }
button.aui_state_highlight { border: solid 1px #1c6a9e; background: #2288cc;
background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); color: #FFF; text-shadow: -1px -1px 1px #1c6a9e; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); }
button.aui_state_highlight:hover { border-color:#0F3A56; color:#FFF; }
button.aui_state_highlight:active { border-color:#1c6a9e;
background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); }
.aui_inner { background:#FFF; }
.aui_outer, .aui_inner { border:1px solid rgba(0, 0, 0, .7); border:1px solid #333\9; }
.aui_border { box-shadow: inset 0 0 1px rgba(255, 255, 255, .9); }
.aui_nw, .aui_ne, .aui_sw, .aui_se { width:5px; height:5px; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se { background:rgba(0, 0, 0, .4); background:#000\9!important; filter:alpha(opacity=40); }
.aui_state_lock .aui_nw, .aui_state_lock .aui_n, .aui_state_lock .aui_ne, .aui_state_lock .aui_w, .aui_state_lock .aui_e, .aui_state_lock .aui_sw, .aui_state_lock .aui_s, .aui_state_lock .aui_se { background:rgba(0, 0, 0, .2); background:#000\9!important; filter:alpha(opacity=20); }
.aui_state_focus .aui_dialog { box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }
.aui_state_focus .aui_outer { box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }
.aui_state_lock .aui_border { box-shadow:0 3px 26px rgba(0, 0, 0, .9); }
.aui_state_drag .aui_outer, .aui_outer:active { box-shadow:none; }
.aui_titleBar { position:relative; height:100%; }
.aui_title { position: relative; padding-right:50px; padding-left: 20px; height: 35px; border-bottom: 1px solid #D1D1D1; background-color: #F5F5F5; font-weight: bold; font-size: 14px; line-height: 35px; }
.aui_state_focus .aui_title { color:#4c5a5f; }
.aui_state_drag .aui_title { background: linear-gradient(top, #bdc6cd, #edf5f8); background: -moz-linear-gradient(top, #bdc6cd, #edf5f8); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc6cd), to(#edf5f8));
box-shadow:none; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdc6cd', endColorstr='#edf5f8'); }
.aui_state_drag .aui_titleBar { box-shadow:none; }
.aui_close { position: absolute; top: 9px; right: 20px; display: block; width: 16px; height: 16px; background: url("/public/images/close.gif") left top no-repeat; text-indent: -999999px; cursor:pointer; }
.aui_close:hover { background-position:-20px 0 ; }
.aui_close:active { box-shadow: none; }
.aui_content { color:#666; font-size:14px; }
.aui_state_focus .aui_content { color:#000; }
.aui_buttons { border-top:solid 1px #DADEE5; background-color:#F6F6F6; }
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_se { width:4px; height:4px; }
.aui_state_noTitle .aui_inner { border:1px solid #999; background:#FFF; }
.aui_state_noTitle .aui_outer { border:none 0; box-shadow:none; }
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_n, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_w, .aui_state_noTitle .aui_e, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_s, .aui_state_noTitle .aui_se { background:rgba(0, 0, 0, .2); background:#000\9!important; filter:alpha(opacity=20)!important; }
.aui_state_noTitle .aui_titleBar { bottom:0; _bottom:0; _margin-top:0; }
.aui_state_noTitle .aui_close { top:0; right:0; width:18px; height:18px; background:none; color:#214FA3; text-align:center; text-decoration:none; text-indent:0; font-size:18px; line-height:18px; filter:!important;
}
.aui_state_noTitle .aui_close:hover, .aui_state_noTitle .aui_close:active { color:#900; text-decoration:none; }
.aui_state_noTitle .aui_dialog { box-shadow: none; }



.index_img img                  { margin-bottom:20px; width:100%;}

.new_list                       { width:100%;}
.new_list ul li                 { float:left;margin-bottom:10px; margin-right:10px; font-size:14px;}
.new_list ul li a               { display:block; padding:0 20px; width:600px; height:60px; line-height:60px; border:1px solid #ccc; border-radius:4px}
.new_list ul li a:hover         { color:#333; border:1px solid #23d2ac; box-shadow:0px 3px 2px #e3e3e3 inset}
.new_list ul li .title          { float:left;}
.new_list ul li .time           { float:right;}

.list_show                      { margin:0 auto; width:80%;}
.list_show .title               { text-align:center;}
.list_show .title h4            { padding:10px 0; line-height:30px; font-weight:bold;}
.list_show .title .time a       { margin-left:10px; color:#23d2ac;}
.list_show .title .time a:hover { color:#23d2ac;}
.list_show .con                 { padding-bottom:20px; margin-top:20px; line-height:200%;}


@media (max-width:768px)  {
	
.new_list ul li a               { display:block; width:auto; height:60px; line-height:60px; border:1px solid #ccc; border-radius:4px}	
.list_show                      { margin:0 auto; width:90%;}	

	
}


