<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>慈善管理系统</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/public/css/bootstrap-customfile.css" />
    <link rel="stylesheet" href="/public/css/bootstrap-datetimepicker.css" />
    <script src="/public/js/jquery.12.0.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/Headroom.js"></script>
    <script src="/public/js/Validform_v5.3.2_min.js"></script>
    <script src="/public/js/jquery.artDialog-4.1.7.min.js"></script>
    <script src="/public/js/common.js"></script>
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/public/js/jquery.12.0.js"></script>
    <script src="/public/js/respond.min.js"></script>
    <![endif]-->
    <script src="/public/js/bootstrap-datetimepicker.js"></script>
    <script src="/public/js/bootstrap-datetimepicker.zh-CN.js"></script>
</head>


<body>
<div class="nav">
<div style='float:left;width:400px;height:90px; font-size:22px;padding:30px 0 0 30px; color:#fff;'>{{if $smarty.const.A_ROLE==0}}慈善管理后台{{else}}{{$smarty.const.C_NAME}}.管理后台{{/if}}</div>
    <div class="btn-group pull-right" id="yonghu">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            {{if $smarty.const.A_ROLE==0}}管理员{{else}}{{$smarty.const.C_NAME}}机构{{/if}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="/index/password/" data-toggle="modal" data-target="#passportModal">修改密码</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/login/logout/">退出系统</a></li>
        </ul>
    </div>
</div>

<form class="form-horizontal" action="/ajax/passport/password/" method="post">
    <div class="modal fade" id="passportModal" tabindex="-1" role="dialog" aria-labelledby="passportModalLabel"></div>
</form>