{{include file="common/header.html"}}
<link href="/public/js/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<style>
    #right .nav-tabs { margin-bottom:0;}
    #right .tab-content { border:1px solid #ddd; border-top:none; padding:20px 20px 0;}
    .news{display:none;}
    .img_left { position: relative; float: left; margin-right: 10px;}
    .img_left .order { margin-top: 5px; line-height: 30px;}
    .img_left .order span { margin-right: 5px;}
    .img_left a { position: absolute; top: 14px; right: 2px; display: block; width: 20px; height: 20px; background: #fff; color: #fff; text-align: center; line-height: 20px; font-size: 12px;  border-radius: 999px; opacity: .8;}

    .news{display:none;}
    .img_left { position: relative; float: left; margin-right: 10px;}
    .img_left .order { margin-top: 5px; line-height: 30px;}
    .img_left .order span { margin-right: 5px;}
    .img_left a { position: absolute; top: 14px; right: 2px; display: block; width: 20px; height: 20px; background: #fff; color: #fff; text-align: center; line-height: 20px; font-size: 12px;  border-radius: 999px; opacity: .8;}
    #productProfile .controls { margin-top: 20px; margin-bottom: 10px; padding-bottom: 30px; border-bottom: 1px solid #E8E8E8; overflow: auto;}
    .ppinfo_col { float: left; margin-right: 20px; margin-bottom: 10px;}
    .ppinfo_col span { display: block; float: left; height: 30px; line-height: 30px;}
    .ppinfo_col input { margin-left:4px;}
    .icon-remove-sign{background-position:-48px -96px}.
</style>
<div class="main">
    {{include file="common/menu.html"}}
    <div id="right">
        <!--面包屑导航-->
        <ol class="breadcrumb">
            <li><a href="javascript:void(0);">机构管理 </a></li>
            <!--<li><a href="/admin/index/">帐号管理</a></li>-->
            <li class="active">机构管理</li>
        </ol>

        <div class="right_con">
            <!--搜索区域-->
            {{if $smarty.const.A_ROLE == 0}}
            <form class="form-inline pull-left">
                <div class="form-group">
                    机构名称：<input type="text" name="name" value="{{$name}}" class="form-control" placeholder="机构名称搜索">
                </div>
                <div class="form-group" id="city" style="margin:0 10px;">
                    所在地区：
                    <select class="prov" name="prov" datatype="*" nullmsg="省" class="form-control" style="padding:5px!important;border:solid 1px #bbb;"></select>
                    <select class="city" name="city" disabled="disabled" datatype="*" nullmsg="市" class="form-control" style="padding:5px!important;border:solid 1px #bbb;"></select>
                </div>

                <button type="submit" class="btn btn-default">搜索</button>
            </form>

            <button type="button" class="btn btn-default pull-right" onclick="window.location.reload();">刷新界面</button>
            <button type="button" class="btn btn-primary pull-right"  onclick="location.href='/company/form/'">添加机构</button>
            {{/if}}
            <div class="clear10"></div>

            <!-- 表格 -->
            <table class="table table-bordered table-striped">
                <tr>
                    <td>机构名称</td>
                    <td>机构账号</td>
                    <td>所在省</td>
                    <td>所在市</td>
                    <!--<td>注册电话</td>-->
                    <td>登记人</td>
                    <td>登记人电话</td>
                    <td>审核状态</td>
                    <td>机构状态</td>
                    <td>添加时间</td>
                    <td>已提现金额</td>
                    <td>账户余额</td>
                    <td>修改密码</td>
                    <td>操作</td>
                </tr>
                {{if $data}}
                {{foreach from=$data item=row}}
                <tr>
                    <td>{{$row.c_name}}</td>
                    <td>{{$row.c_accound}}</td>
                    <td>{{$row.c_prov}}</td>
                    <td>{{$row.c_city}}</td>
                    <!--<td>{{$row.c_phone}}</td>-->
                    <td>{{$row.c_username}}</td>
                    <td>{{$row.c_userphone}}</td>
                   <td>{{$check[$row.c_check_status]}}</td>
                    {{if $smarty.const.A_ROLE <= 0}}
                    <td>
                        <a href="#" data-json="确认要更改状态吗？" data-href="/ajax/company/status/id/{{$row.c_id}}/status/{{$row.c_status}}">
                            <i class="glyphicon {{if $row.c_status == 1}}glyphicon-eye-open{{else}}glyphicon-eye-close{{/if}}" title="{{if $row.c_status == 2}}禁用{{else}}正常{{/if}}"></i>
                            {{if $row.c_status == 1}}<span class="label label-success">正常</span>{{else}}<span class="label label-warning">禁用</span>{{/if}}
                        </a>
                    </td>
                    {{else}}
                    <td><span class="label label-success">正常</span></td>
                    {{/if}}
                    <td>{{$row.c_addTime}}</td>
                    <td><span class="label label-success">{{$row.ca_used|default:0}}</span></td>
                    <td><span class="label label-danger">{{$row.ca_left|default:0}}</span></td>
                    <td>
                        <a data-toggle="modal" href="{{$baseUrl}}formPassword/id/{{$row.c_id}}" data-target="#formPasswordModal" title="修改密码"><i class="glyphicon glyphicon-lock"></i></a>
                    </td>
                    <td>
                        <a class="glyphicon glyphicon-edit"  href="{{$baseUrl}}form/id/{{$row.c_id}}" title="编辑机构"></a>&nbsp;&nbsp;
                    </td>
                </tr>
                {{/foreach}}
                {{/if}}
            </table>

            <!-- 分页 -->
            {{if $data}}
            <nav>
                <ul class="pagination pull-right">{{$page}}</ul>
            </nav>
            {{/if}}
        </div>

        <!--弹窗-->
        <form class="form-horizontal" action="/ajax/company/save/" method="post">
            <div class="modal fade" id="adminModal" tabindex="-1" role="dialog"></div>
        </form>

        <form class="form-horizontal" method="post" action="/ajax/company/editPassword/" >
            <div class="modal fade" id="formPasswordModal" tabindex="-1" role="dialog"></div>
        </form>
    </div>
    <div class="clear"></div>
</div>
<script src="/public/js/jquery.cityselect.js"></script>
<script>
    $("#city").citySelect({prov:'{{$prov}}', city : '{{$city}}'});
</script>
{{include file="common/footer.html"}}