<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="passportModalLabel">提现</h4>
        </div>
        <input type="hidden" name="id" value="{{$id}}" />
        <div class="modal-body">
            <div class="alert alert-dismissible" role="alert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong></strong>
            </div>
            <div class="form-group">
                        <label class="col-sm-2 control-label">支付宝</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="f_card_numb" value="{{$row.f_card_numb}}" placeholder="支付宝账户" datatype="*" nullmsg="请填写支付宝账户" style="width: 200px;"/>
                        </div>
                <label style="color:red;">*</label>
                <span class="help-inline"></span>
            </div>

            <div class="form-group">
                     <label class="col-sm-2 control-label">开户姓名</label>
                        <div class="col-sm-4">
						<input type="text" class="form-control" name="f_name" value="{{$row.f_name}}" placeholder="开户人姓名" datatype="*" nullmsg="请填写开户人姓名" style="width: 200px;"/>
                        </div>
                <label style="color:red;">*</label>
                <span class="help-inline"></span>
            </div>

            <div class="form-group">
                        <label class="col-sm-2 control-label">联系电话</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="f_phone" value="{{$row.f_phone}}" placeholder="联系电话" datatype="*" nullmsg="请填写联系电话" style="width: 200px;"/>
                        </div>
                <label style="color:red;">*</label>
                <span class="help-inline"></span>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary btn-submit">申请</button>
        </div>
    </div>
</div>


