<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule .* index.php
	Rewritecond %{HTTP_HOST} cishan\.weimingzhong\.com$ 
	Rewriterule (.*)$ /xx/$1
</IfModule>
