{{include file="common/header.html"}}

<div class="main">
    {{include file="common/menu.html"}}

    <div id="right">
        <!--面包屑导航-->
        <ol class="breadcrumb">
            <li><a href="javascript:void(0);">慈善商品管理 </a></li>
            <li class="active">慈善商品</li>
        </ol>

        <div class="right_con">
            <!--搜索区域-->
            {{if $smarty.const.A_ROLE == 0}}
            <form class="form-inline pull-left">
                <div class="form-group">机构：
                    <select name="type" id="type" class="form-control">
                        {{$companyOption}}
                    </select>
                </div>
                <div class="form-group">标题：
                    <input type="text" name="title" value="{{$title}}" class="form-control" placeholder="标题">
                </div>
                <div class="form-group">
                    状态：
                    <select name="status" id="status" class="form-control">
                        {{$statusOption}}
                    </select>
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <button type="button" class="btn btn-default pull-right" onclick="window.location.reload();">刷新界面</button>
            <button type="button" class="btn btn-primary pull-right"  onclick="location.href='/donation/form/'">添加商品</button>
{{/if}}
            <div class="clear10"></div>

            <!-- 表格 -->
            <table class="table table-bordered table-striped">
                <tr>
                    <td>机构</td>
                    <td>标题</td>
                    <td>状态</td>
                    <td>截止时间</td>
                    <td>添加时间</td>
                    <td>操作</td>
                </tr>
                {{if $data}}
                {{foreach from=$data item=row}}
                <tr>
                    <td>{{$companyList[$row.c_id]}}</td>
                    <td>{{$row.d_title}}</td>
                    <td>
                        <a href="javascript:void(0);" data-json="确认要更改状态吗？" data-href="/donation/status/id/{{$row.d_id}}/status/{{$row.d_status}}">
                            <i class="glyphicon {{if $row.d_status == 1}}glyphicon-eye-open{{else}}glyphicon-eye-close{{/if}}" title="{{if $row.d_status == 2}}禁用{{else}}正常{{/if}}"></i>
                            {{if $row.d_status == 1}}<span class="label label-success">正常</span>{{else}}<span class="label label-warning">禁用</span>{{/if}}
                        </a>
                    </td>
                    <td>{{$row.d_endTime}}</td>
                    <td>{{$row.d_addTime}}</td>
                    <td>
                        <a class="glyphicon glyphicon-edit" href="{{$baseUrl}}/form/id/{{$row.d_id}}" title="编辑"></a>&nbsp;&nbsp;
                    </td>
                </tr>
                {{/foreach}}
                {{/if}}
            </table>

            <!-- 分页 -->
            {{if $data}}
            <nav>
                <ul class="pagination pull-right">{{$page}}</ul>
            </nav>
            {{/if}}
        </div>

        <!--&lt;!&ndash;弹窗&ndash;&gt;-->
        <!--<form class="form-horizontal" action="/ajax/donation/save/" method="post">-->
            <!--<div class="modal fade" id="adminModal" tabindex="-1" role="dialog"></div>-->
        <!--</form>-->
    </div>
    <div class="clear"></div>
</div>

{{include file="common/footer.html"}}