{{include file="common/header.html"}}

<div class="main">
    {{include file="common/menu.html"}}

    <div id="right">
        <!--面包屑导航-->
        <ol class="breadcrumb">
            <li><a href="/">管理首页 </a></li>
            <li class="active">用户中心</li>
        </ol>

        <div class="right_con">
            <!--<div class="index_img"><img src="/public/images/welcome.jpg"></div>-->
        </div>

        <!--弹窗区域-->
        {{include file="index/modal.html"}}
    </div>
    <div class="clear"></div>
</div>

{{include file="common/footer.html"}}