<div id="left">
    <div class="btn-group-vertical" id="km_ment" role="group" aria-label="...">

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>用户管理
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/admin/index/">管理员管理</a></li>
            </ul>
        </div>


        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>导航内容管理
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/categoryabout/index/">关于我们分类管理</a></li>

                <li><a href="/categoryscreen/index/">显示屏分类管理</a></li>

                <li><a href="/categorylight/index/">照明分类管理</a></li>

                <li><a href="/categorycase/index/">项目案例分类管理</a></li>

                <li><a href="/categorynews/index/">新闻分类管理</a></li>

                <li><a href="/categorytech/index/">技术分类管理</a></li>

                <li><a href="/categoryconnect/index/">联系我们分类管理</a></li>
            </ul>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>产品管理
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/productScreen/index/">显示屏管理</a></li>
                <li><a href="/productLight/index/">照明管理</a></li>
            </ul>
        </div>
    </div>
</div>